.tag {
    padding: 5px 12px;
    border: 1px solid var(--gray-color);
    border-radius: 20px;
    max-width: 180px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.tag:hover {
    background-color: #3B66DB;
    border-color: #3B66DB;
    color: #ffffff;
}