.buyButton {
    outline: 0;
    background-color: #fff;
    border: 2px solid #000;
    color: #000;
    border-radius: 10px;
    min-width: 80px;
    height: 42px;
    font-weight: 700;
    font-family: 'Space Grotesk';
}

.buyButton:hover:not([disabled]) {
    cursor: pointer;
    background-color: #000000;
    color: #fff;
    transition: background-color 100ms ease-in;
}

.buyButton:active:not([disabled]) {
    transform: scale(0.9);
    transition: transform 100ms ease-out;
    box-shadow: none;
}