.homeHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.homeHeader h1 {
    margin: 0;
}

.homeHeader .search {
    display: flex;
    align-items: center;
    padding: 12px 18px;
    border: 1px solid var(--gray-color);
    border-radius: 12px;
    gap: 8px;
}

.homeHeader .search label,
.homeHeader .search label svg path {
    cursor: text;
    display: flex;
    align-items: center;
}

.homeHeader .search input {
    cursor: text;
    border: 0;
    outline: 0;
    font-size: 16px;
}

.searchInput {
    font-family: 'Space Grotesk';
    font-weight: 500;
}

.container {
    display: flex;
    margin-top: 40px;
    column-gap: 60px;
    row-gap: 30px;
    flex-wrap: wrap;
}