.orderContainer:first-child {
    margin-top: 15px;
    width: 100%;
}

.orderContainer h1 {
    margin: 0;
}

.orderHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.orderTags {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.orderItems {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}