.card {
    box-sizing: border-box;
    width: 280px;
    padding: 20px;
    border: 1px solid var(--gray-color);
    border-radius: 18px;
    background-color: #fff;
}
.card:hover {
    border: 1px solid #000;
}

.card .favorite-icon {
    position: absolute;
}

.card .favorite-icon:hover {
    fill: var(--accent-color);
    cursor: pointer;
}

.card .sneaker-image {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    object-fit: scale-down;
}

.card .card-title {
    margin: 15px 0px 0px;
    text-transform: uppercase;
}

.card .card-footer {
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
    align-items: center;
}