:root {
  --accent-color: #234dc0;
  --gray-color: #c2c2c2;
}

body {
  background-color: var(--accent-color);
  margin: 0;
  font-family: -apple-system, 'Space Grotesk';
}

a:visited {
  color: initial;
}

.active li,
.active li path {
  color: var(--accent-color);
  fill: var(--accent-color);
  font-weight: 700;
}

.active li {
  transform: translateY(-3px);
}