:root {
  --accent-color: #234dc0;
  --gray-color: #c2c2c2;
}

body {
  background-color: var(--accent-color);
  margin: 0;
  font-family: -apple-system, 'Space Grotesk';
}

a:visited {
  color: initial;
}