.headingContainer {
    height: 48.8px;
    display: flex;
    align-items: center;
}

.heading {
    margin: 0;
}

.container {
    display: flex;
    margin-top: 40px;
    column-gap: 60px;
    row-gap: 30px;
    flex-wrap: wrap;
}

.order {
    width: 100%;
}

.order h1 {
    margin: 0;
}

.orderItems {
    display: flex;
    flex-wrap: wrap;
}