.orderButton {
    padding: 10px;
    font-weight: 500;
    font-family: 'Space Grotesk';
    border: 0;
    outline: 0;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    gap: 5px;
    align-items: center;
}

.orderButton:active {
    transform: scale(0.9);
    transition: transform 100ms ease-out;
}

.orderButton:hover {
    gap: 10px;
    transition: gap 100ms ease-out;
}